<h1>Dice Game</h1>
Here are the rules:</br></br>

Roll the dice to start the game.</br>
If your first roll is a 7 or 11, you win.</br>
If your first roll is a 2, 3 or 12, you lose.</br>
Anything else becomes your goal. Roll your goal again before rolling a 7, and you win. Roll a 7 instead of your goal, and you lose.</br>
</br>
<a href="/dice/roll"><button>Roll</button></a>